/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: Aileron-Thin;
  src: url('../assets/fonts/Aileron-Thin.otf');
}
* {
  margin: 0px;
  padding: 0px;
}
html {
  overflow: scroll;
  height: 100%;
}
.push {
  height: 170px;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}
h1,
h2,
h3,
h4 {
  font-display: 'Aileron-Thin';
  color: #3A405A;
  width: 0 auto;
}
h1 {
  margin: 1% 5%;
  color: #9a9ea1;
  align-items: center;
  align-content: center;
  font-size: 9rem;
  text-align: center;
  font-weight: 800;
}
h2 {
  font-size: 1.2rem;
  text-align: center;
  border-bottom: 1px #d1c0c0 solid;
  padding: 3% 0 3% 0;
  font-weight: 800;
}
h3 {
  font-size: 1.8rem;
  text-align: center;
  border-bottom: 1px #d1c0c0 solid;
  padding: 1% 0 1% 0;
  font-weight: 800;
}
h4 {
  font-size: 0.8rem;
  text-align: left;
  padding: 3% 0 3% 0;
  font-weight: 400;
}
h5 {
  font-size: 1.5rem;
  text-align: left;
  padding: 1% 0 1% 0;
  font-weight: 400;
  font-display: 'Aileron-Thin';
  color: #3A405A;
}
h6 {
  font-size: 1.2rem;
  text-align: center;
  padding: 1% 0 1% 0;
  font-weight: 400;
  font-display: 'Aileron-Thin';
  color: #3A405A;
  text-decoration: underline;
}
.body_button {
  font-size: 1rem;
  font-family: 'Aileron-Thin';
  font-weight: 400;
  color: #e4dcdc;
  padding: 5px 12px;
  margin-top: 0.6rem;
  border: 1px solid #0e0d0d;
  border-radius: 25px;
  width: 90%;
  height: 10%;
  background-color: #3A405A;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.35);
  letter-spacing: 0.5em;
}
.body_button:hover {
  transform: translateY(-5px);
  transition: transform 0.5s;
}
.navigation_others {
  display: flex;
  border-bottom: 1px solid white;
  width: 100%;
  height: 80px;
  background-color: #3A405A;
}
.navigation_others .logo {
  margin-top: 3px;
  margin-left: 10px;
}
.navigation_others .menu-button {
  position: fixed;
  max-width: 100%;
  height: auto;
  top: 1rem;
  right: 6rem;
  z-index: 2000;
  cursor: pointer;
}
.navigation_others .navigation_nav {
  display: none;
  position: fixed;
  top: 5rem;
  right: 6.2rem;
  width: 10%;
  height: auto;
  z-index: 8000;
  border: 1px solid rgba(116, 105, 105, 0.411);
  background-color: #3A405A;
}
.navigation_others .navigation_nav .menu {
  display: flex;
  flex-direction: column;
}
.navigation_others .navigation_nav .menu .hor_div {
  display: block;
  width: 96%;
  height: auto;
  background-color: rgba(206, 198, 198, 0.466);
  border: 1px solid rgba(206, 198, 198, 0.466);
}
.navigation_others .navigation_nav .menu .my-anchor {
  font-size: 1.2rem;
  font-family: 'Aileron-Thin';
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 30px;
  margin: 3px 3px 3px 3px;
  border: 0.5px solid black;
  border-radius: 0px;
  background-color: rgba(235, 224, 224, 0.836);
}
.navigation_others .navigation_nav .menu .my-anchor:hover {
  color: black;
  background-color: rgba(245, 239, 239, 0.582);
}
.navigation_others .navigation_nav .menu .my-anchor {
  display: block;
  text-align: center;
  width: auto;
}
.navigation_others .navigation_nav .menu .my-anchor:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.288);
  transition: transform 0.5s;
}
.navigation_others .navigation_nav .menu .my-anchor:active {
  transform: translateY(-1px);
}
.navigation_others .navigation_nav .menu .my-anchor:hover:after {
  content: "";
  display: inline-block;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  height: 30px;
}
.navigation_others .navigation_nav .menu .my-anchor:hover::after {
  transform: scale(1.5);
  opacity: 0;
}
.navigation_others .navigation_nav .menu .animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
@media (max-width: 800px) {
  .navigation_others .menu-button {
    right: 1rem;
  }
  .navigation_others .navigation_nav {
    top: 5rem;
    right: 1rem;
    width: auto;
    height: auto;
  }
}
.index_wraper {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: auto;
}
.index_wraper .top_container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 94vh;
  background-image: linear-gradient(to right bottom, rgba(29, 27, 27, 0.774), rgba(13, 14, 14, 0.89)), url(../assets/bigscreen.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 50% 98%, 0 85vh);
  overflow: hidden;
}
.index_wraper .top_container .center_box {
  align-content: center;
  justify-content: center;
  margin-top: 1%;
  width: 95%;
  height: 70%;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-name: moveInBottom;
  padding: 0;
}
.index_wraper .top_container .center_box .sub_text1,
.index_wraper .top_container .center_box .sub_text2 {
  margin: 4% 1% 1% 1%;
  color: #9a9ea1;
  font-size: 4.5rem;
  text-align: center;
  font-weight: 800;
}
.index_wraper .top_container .center_box .sub_text2 {
  margin-top: 1%;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media (max-width: 800px) {
  .index_wraper .top_container .center_box .main_header {
    font-size: 6rem;
  }
  .index_wraper .top_container .center_box .sub_text1,
  .index_wraper .top_container .center_box .sub_text2 {
    margin: 4% 1% 1% 1%;
    font-size: 3rem;
  }
  .index_wraper .top_container .center_box .sub_text2 {
    margin-top: 1%;
  }
}
@media (max-width: 500px) {
  .index_wraper .top_container .center_box .main_header {
    font-size: 4rem;
  }
  .index_wraper .top_container .center_box .sub_text1,
  .index_wraper .top_container .center_box .sub_text2 {
    margin: 4% 1% 1% 1%;
    font-size: 2rem;
  }
  .index_wraper .top_container .center_box .sub_text2 {
    margin-top: 1%;
  }
}
.middle_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  height: auto;
  background-color: #b6c8d8;
  background-image: linear-gradient(to bottom, rgba(66, 181, 216, 0.678), rgba(135, 135, 223, 0.74)), url('../assets/mainimage.jpg');
  background-size: cover;
  background-position: top;
}
.middle_container .left_box,
.middle_container .center_box,
.middle_container .right_box,
.middle_container .right_right_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 1px #d1c0c0 solid;
  width: 17%;
  height: 500px;
  background-color: rgba(220, 230, 247, 0.671);
  animation-duration: 1s;
  animation-timing-function: ease-out;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  text-align: center;
  padding: 1.5rem 0.9rem 1.5rem 0.9rem;
  transition: 0.35s;
}
.middle_container .left_box .font_icon,
.middle_container .center_box .font_icon,
.middle_container .right_box .font_icon,
.middle_container .right_right_box .font_icon {
  font-size: 3rem;
  color: #3A405A;
}
.middle_container .left_box .paragraph,
.middle_container .center_box .paragraph,
.middle_container .right_box .paragraph,
.middle_container .right_right_box .paragraph {
  font-size: 1.1rem;
  font-family: 'Aileron-Thin';
  color: #0f1011;
  padding: 0.5rem;
  margin: 0px;
  border: 0px solid rgba(255, 255, 255, 0);
  border-radius: 0px;
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 300;
  line-height: 1.8rem;
  text-align: justify;
}
.middle_container .left_box .body_button,
.middle_container .center_box .body_button,
.middle_container .right_box .body_button,
.middle_container .right_right_box .body_button {
  align-items: flex-end;
  margin-top: auto;
}
.middle_container .left_box {
  animation-name: moveInRight;
}
.middle_container .center_box {
  animation-name: moveInRight;
}
.middle_container .right_box {
  animation-name: moveInLeft;
}
.middle_container .right_right_box {
  animation-name: moveInLeft;
}
.middle_container .left_box:hover,
.middle_container .center_box:hover,
.middle_container .right_box:hover,
.middle_container .right_right_box:hover {
  transform: translateY(-1.2rem) scale(1.02);
}
.middle_container .left_box:hover:after,
.middle_container .center_box:hover:after,
.middle_container .right_box:hover:after,
.middle_container .right_right_box:hover:after {
  margin: 1.8rem;
}
@media (max-width: 500px) {
  .middle_container {
    flex-direction: column;
    align-items: center;
  }
  .middle_container .left_box,
  .middle_container .center_box,
  .middle_container .right_box,
  .middle_container .right_right_box {
    width: 100%;
    height: 100%;
  }
  .middle_container .left_box:hover,
  .middle_container .center_box:hover,
  .middle_container .right_box:hover,
  .middle_container .right_right_box:hover {
    transform: none;
    transition: none;
  }
}
@media (max-width: 800px) {
  .middle_container {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .middle_container .left_box,
  .middle_container .center_box,
  .middle_container .right_box,
  .middle_container .right_right_box {
    width: 89%;
    height: auto;
  }
  .middle_container .left_box:hover,
  .middle_container .center_box:hover,
  .middle_container .right_box:hover,
  .middle_container .right_right_box:hover {
    transform: none;
    transition: none;
  }
}
.wrapper {
  display: flex;
  flex: 1 0 auto;
}
.wrapper .left {
  width: 75%;
  align-items: center;
  padding: 0px;
  border-right: 0px #d1c0c0 solid;
  background-color: rgba(232, 237, 241);
}
.wrapper .left #mapid {
  width: 100%;
  height: 100%;
  border-right: 1px solid black;
}
.wrapper .right {
  height: auto;
  width: 25%;
  border: 1px #d1c0c0 solid;
  background-color: rgba(232, 237, 241);
}
.wrapper .right .chk_box_div {
  text-align: center;
  width: 90%;
  height: auto;
  padding: 1%;
  border: 1px solid black;
  border-radius: 7px;
  margin: 0 auto;
}
.wrapper .right .chk_box_div .check_box {
  margin-left: 5%;
}
.wrapper .right .div_class {
  height: 2px;
  margin: 0.1rem;
  width: auto;
  display: inline-block;
  border-color: #3A405A;
}
.wrapper .right .search_options {
  text-align: center;
  width: 90%;
  height: auto;
  padding: 1%;
  border: 1px solid black;
  border-radius: 7px;
  margin: 0 auto;
}
.wrapper .right .search_options .form_class {
  text-align: left;
  width: 80%;
}
.wrapper .right .search_options .label_class {
  margin: 0px;
}
.wrapper .right .search_options .address_class {
  width: 70%;
  height: 23px;
  margin: 0px;
}
.wrapper .right .search_options .city_class {
  width: 60%;
  height: 23px;
  margin: 0px;
}
.wrapper .right .search_options .zip_class {
  width: 50%;
  height: 23px;
  margin: 0px;
}
.wrapper .right .search_options .div_class {
  height: 2px;
  margin: 0.1rem;
  width: auto;
  display: inline-block;
  border-color: #3A405A;
}
.wrapper .right .search_options .my_search_btn {
  font-size: 1rem;
  font-family: 'Aileron-thin';
  color: #f0e7e7;
  text-transform: uppercase;
  padding: 5px 12px;
  margin: 1rem 0rem ;
  border: 1px solid #0c0101;
  border-radius: 25px;
  width: 50%;
  height: 2.5rem;
  background-color: #3A405A;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.35);
  cursor: pointer;
  text-align: center;
}
.wrapper .right .search_options .my_search_btn:hover {
  transform: translateY(-3px);
  transition: transform 0.4s;
}
.wrapper .right .search_options .paragraph {
  font-size: 1.1rem;
  font-family: 'Aileron-Thin';
  color: #0f1011;
  padding: 0.5rem;
  margin: 0px;
  border: 0px solid rgba(255, 255, 255, 0);
  border-radius: 0px;
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 300;
  line-height: 1.8rem;
  text-align: justify;
}
.wrapper .right .search_results {
  text-align: center;
  width: 90%;
  height: auto;
  padding: 1%;
  border: 1px solid black;
  border-radius: 7px;
  margin: 0 auto;
}
.wrapper .right .search_results .search_result_div {
  width: 100%;
}
@media (max-width: 800px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .wrapper .left {
    width: 100%;
    height: 25rem;
    border: none;
  }
  .wrapper .right {
    width: 100%;
    height: 100%;
    flex-direction: row;
  }
  .wrapper .right .chk_box_div {
    width: 95%;
  }
  .wrapper .right .search_options {
    width: 95%;
  }
  .wrapper .right .search_options .form_class {
    width: auto;
  }
  .wrapper .right .search_options .form_class .form_elements_div {
    display: inline-block;
  }
  .wrapper .right .search_results {
    width: 95%;
    margin-bottom: 1%;
  }
}
@media (max-width: 500px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper .left {
    width: 100%;
    height: 25rem;
    margin: 4px;
    border: 0px solid black;
    margin: 0px;
  }
  .wrapper .right {
    width: 100%;
    flex-direction: column;
  }
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8edf1;
  width: 100%;
  flex: 1 0 auto;
}
.about .about_class {
  width: 80%;
  flex: 1;
  align-items: center;
}
.about .about_class .about_paragraph {
  font-size: 1.1rem;
  font-family: 'Aileron-Thin';
  color: #0f1011;
  padding: 0.5rem;
  margin: 0px;
  border: 0px solid rgba(255, 255, 255, 0);
  border-radius: 0px;
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 300;
  line-height: 1.8rem;
  text-align: justify;
  font-size: 1.4rem;
}
.about .about_class .tech_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1%;
  margin-bottom: 4%;
  width: 80%;
  height: auto;
  background-color: #e8edf1;
  border-radius: 5px;
  padding: 1rem 0.9rem 1rem 0.9rem;
  transition: 0.35s;
  margin: 0 auto;
}
.about .about_class .tech_box .tech_logos {
  display: inline-block;
  margin: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.35);
}
.about .about_class .tech_box .tech_logos:hover {
  transform: translateY(-4px);
  transition: 0.4s;
}
.about .about_class .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.about .about_class .wrapper .left_box,
.about .about_class .wrapper .right_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 1%;
  border: 1px #d1c0c0 solid;
  width: 35%;
  height: auto;
  background-color: rgba(220, 230, 247, 0.671);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  padding: 1rem 0.9rem 1rem 0.9rem;
  transition: 0.35s;
}
.about .about_class .wrapper .left_box .form_resize,
.about .about_class .wrapper .right_box .form_resize {
  width: 92%;
}
.about .about_class .wrapper .left_box .tech_logos_s,
.about .about_class .wrapper .right_box .tech_logos_s {
  margin: 10px;
  width: 100px;
  height: 100px;
}
@media (max-width: 800px) {
  .about .about_class {
    width: 95%;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .about .about_class .tech_box {
    flex-wrap: wrap;
    width: 100%;
  }
  .about .about_class .wrapper {
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
  .about .about_class .wrapper .left_box {
    width: 100%;
    margin: 4% 0 0 0;
    text-align: center;
  }
  .about .about_class .wrapper .right_box {
    width: 100%;
    margin: 6% 0 6% 0;
  }
  .about .about_class .wrapper .right_box .tech_logos {
    width: 100px;
    height: auto;
  }
}
@media (max-width: 500px) {
  .about .about_class .wrapper {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100;
    height: auto;
  }
  .about .about_class .wrapper .left_box {
    width: 100%;
    margin: 4% 0 0 0;
  }
  .about .about_class .wrapper .right_box {
    width: 100%;
    margin: 6% 0 6% 0;
  }
  .about .about_class .wrapper .right_box .tech_logos {
    width: 100px;
    height: auto;
  }
}
footer {
  display: flex;
  align-items: center;
  align-content: center;
  background-color: #3A405A;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  overflow: hidden;
  margin: 0px;
}
footer .wrap_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1%;
  height: auto;
}
footer .wrap_footer .left_footer {
  width: 30%;
}
footer .wrap_footer .left_footer .footer_text {
  color: #e1e3ec;
  font-size: 1.1rem;
  text-align: left;
  padding: 1%;
  margin: 4px;
  font-weight: 400;
  text-decoration: none;
  border: none;
  text-transform: none;
  font-weight: 300;
}
footer .wrap_footer .center_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}
footer .wrap_footer .center_footer .footer_img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
footer .wrap_footer .right_footer {
  width: 30%;
}
footer .wrap_footer .right_footer .my-anchor-foot {
  display: block;
  font-family: 'Aileron-Thin';
  margin: 8px 3px;
  size: 1.2rem;
  padding: 2px 2px ;
  color: #f0e5e5;
  text-transform: uppercase;
  margin-left: 25%;
}
@media (max-width: 800px) {
  footer .wrap_footer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    padding: 1%;
    height: auto;
  }
  footer .wrap_footer .left_footer {
    width: 100%;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  footer .wrap_footer .left_footer .footer_text {
    color: #e1e3ec;
    font-size: 1.1rem;
    padding: 1%;
    margin: 4px;
    font-weight: 400;
    text-decoration: none;
    border: none;
    text-transform: none;
    font-weight: 300;
    text-align: center;
  }
  footer .wrap_footer .center_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  footer .wrap_footer .center_footer .footer_img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  footer .wrap_footer .right_footer {
    width: 100%;
    text-align: center;
  }
  footer .wrap_footer .right_footer .my-anchor-foot {
    display: inline-block;
    margin: 8px 0px;
    padding: 2px 2px ;
    text-align: center;
    margin: 4px;
  }
}
