   .about {
       display:flex;
       flex-direction: column;
       align-items: center;
       background-color: rgb(232, 237, 241);
       width: 100%;
       height: auto;

     .about_class {
        width: 80%;
        flex:1;
        .about_paragraph {
            .p_mixin();
            font-size: 1.4rem;
            
        }
        .wrapper {
            display:flex;
            flex-direction:row;
            justify-content: space-evenly;

            .left_box , .right_box {
                display:flex;
                flex-direction:column;
                align-items: center;
                margin-top: 1%;
                margin-bottom: 1%;
                border: 1px rgb(209, 192, 192) solid;
                width: 35%;
                height: auto;
                background-color: rgba(220, 230, 247, 0.671);
                box-shadow: 0 1.5rem 4rem rgba(black, .35);
                border-radius: 5px;
                padding: 1.0rem 0.9rem 1.0rem 0.9rem;
                transition: 0.35s;

                .tech_logos {
                    margin: 10px;
                    width:100px;
                    height: 100px;
                }
            }
        }

     }

   }

// Navigation media query for 800px
@media(max-width: 800px) {
    .other_top_section { 
        flex-direction: column;
        height: auto;
        margin: 0px;
    
        .my_nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        padding: 0px;
        width: 100%;
        
        .logo {
            width:auto;
            margin: 1%;
        }
        .menu {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width:100%;
            margin: 1%;

            .my-anchor {
                margin: 1% 1% 1% 1%;
                align-items: center;
            }
        }
    }
  }

  .about {
      height: 82vh;
      .about_class {
        .wrapper{
            flex-direction: column;
            align-items: center;
            width: 100;
            .left_box{
                width: 100%;
                margin: 4% 0 0 0;
            }
            .right_box {
                width: 100%;
                margin: 6% 0 0 0;

                .tech_logos {
                    width:100px;
                    height: 100px;
                    
                }
            }
        }
      }
  }
}

// Navigation media query for 500px
@media(max-width: 500px) {
    .other_top_section { 
        flex-direction: column;
        height: auto;
        margin: 0px;
    
        .my_nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 0px;
        padding: 0px;
        width: 100%;
        
        .logo {
            width:auto;
            margin: 1%;
        }
        .menu {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width:100%;
            margin: 1%;

            .my-anchor {
                margin: 1% 1% 1% 1%;
                align-items: center;
                display: none;
            }
        }
    }
  }
}

