   .about {
       display:flex;
       flex-direction: column;
       align-items: center;
       background-color: rgb(232, 237, 241);
       width: 100%;
       flex: 1 0 auto;

     .about_class {
        width: 80%;
        flex:1;
        align-items: center;
        .about_paragraph {
            .p_mixin();
            font-size: 1.4rem;
        }
        .tech_box {
            display:flex;
            flex-direction:row;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 1%;
            margin-bottom: 1%;
            //border: 1px rgb(209, 192, 192) solid;
            width: 80%;
            height: auto;
            background-color:rgb(232, 237, 241);// rgba(220, 230, 247, 0.671);
            //box-shadow: 0 1.5rem 4rem rgba(black, .35);
            border-radius: 5px;
            padding: 1.0rem 0.9rem 1.0rem 0.9rem;
            transition: 0.35s;
            margin: 0 auto;

            .tech_logos {
                display: inline-block;
                margin: 10px;
                width:100px;
                height: 100px;
                border-radius: 50%;
                box-shadow: 0 1.5rem 4rem rgba(black, .35);

                &:hover {
                    transform: translateY(-4px);
                    transition: 0.4s;
                }
            }
        }

        .wrapper {
            display:flex;
            flex-direction:row;
            justify-content: space-evenly;

            .left_box , .right_box {
                display:flex;
                flex-direction:column;
                align-items: center;
                margin-top: 1%;
                margin-bottom: 1%;
                border: 1px rgb(209, 192, 192) solid;
                width: 35%;
                height: auto;
                background-color: rgba(220, 230, 247, 0.671);
                box-shadow: 0 1.5rem 4rem rgba(black, .35);
                border-radius: 5px;
                padding: 1.0rem 0.9rem 1.0rem 0.9rem;
                transition: 0.35s;

                .tech_logos_s {
                    margin: 10px;
                    width:100px;
                    height: 100px;
                }
            }
        }

     }

   }

// Navigation media query for 800px
@media(max-width: 800px) {
  .about {
      .about_class {
          width: 95%;
          flex-direction:column;
          flex-wrap: wrap;
        .tech_box {
            flex-wrap: wrap;
            
            width: 100%;
        }
        .wrapper{
            flex-direction: column;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            width: 100%;
            height: auto;

            .left_box{
                width: 100%;
                margin: 4% 0 0 0;
                text-align: center;
            }
            .right_box {
                width: 100%;
                margin: 6% 0 6% 0;

                .tech_logos {
                    width:100px;
                    height: auto;
                    
                }
            }
        }
      }
  }
}

// Navigation media query for 500px
// Navigation media query for 800px
@media(max-width: 500px) {
    .about {
        .about_class {
          .wrapper{
              flex-direction: column;
              align-items: center;
              flex-wrap: wrap;
              width: 100;
              height: auto;
              .left_box{
                  width: 100%;
                  margin: 4% 0 0 0;
              }
              .right_box {
                  width: 100%;
                  margin: 6% 0 6% 0;
  
                  .tech_logos {
                      width:100px;
                      height: auto;
                      
                  }
              }
          }
        }
    }
  }

